{% extends "base.html" %}

{% block content %}


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
   
    {% load static %}
    <title>{% block title %}Bookings{% endblock %}</title>


    <!-- Link to Bootstrap CSS -->
  
   
</head>

<body>
    
    {% if bookings %}
   <div id="content">
        <div class="card shadow mb-4">
            <div class="card-header py-3">
                <h4 class="m-0 font-weight-bold text-primary">Booking Data</h4>
            </div>
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                        <thead>
                            <tr>
                                <th>Customer Name</th>
                                <th>Walkin Customer Name</th>
                                <th>Booking Status</th>
                                <th>Pre-Booking Amount</th>                        
                                <th>Booking Amount</th>                        
                                <th>Booking Source</th>                        
                            </tr>
                        </thead>
                    
                        <tbody>
                            {% for booking in bookings %}
                            <tr>
                                <td>{{ booking.customer }}</td>
                                <td>{{ booking.walkin_customer }}</td>
                                <td>{{ booking.booking_status }}</td>
                                <td>{{ booking.prebooking_amount }}</td>
                                <td>{{ booking.booking_amount }}</td>
                                <td>{{ booking.booking_source }}</td>
                                <td> <a class="btn btn-success btn-sm" href="{% url 'booking_update' pk=booking.pk %}">
                                    Update</a>
                                </td>
                            </tr>
                            {% endfor %}
                          
                            
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        {% endif %}

        {% if user.is_staff %}
        <a class="btn btn-secondary"  href="{% url 'add_booking'%}">Add</a>   
        {% endif %}
        
    </div> 
	

    <!-- Link to Bootstrap JS and jQuery -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

     <script src="{%static "vendor/jquery/jquery.min.js" %}"></script>
     <script src="{%static "vendor/bootstrap/js/bootstrap.bundle.min.js" %}"></script>
 
     <script src="{%static "vendor/jquery-easing/jquery.easing.min.js" %}"></script>
 
     <script src="{%static "js/sb-admin-2.min.js" %}"></script>
 
     <script src="{%static "vendor/chart.js/Chart.min.js" %}"></script>
 
     <script src="{%static "js/demo/chart-area-demo.js" %}"></script>
     <script src="{%static "js/demo/chart-pie-demo.js" %}"></script>
 
</body>
</html>

{% endblock%}