{% extends "base.html" %}
{% load queryset_filters %}
{% block content %}


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
   
    {% load static %}
    <title>{% block title %}Cars{% endblock %}</title>

    <!-- Link to Bootstrap CSS -->
    
    <link rel="shortcut icon" href="{%static "images/SeresIcon.png" %}">
    <!-- Favicons -->
    <link href="{%static "assets/img/apple-touch-icon.png" %}" rel="apple-touch-icon">
  
    <!-- Google Fonts -->
    <link href="https://fonts.gstatic.com" rel="preconnect">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Nunito:300,300i,400,400i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">
  
    <!-- Vendor CSS Files -->
    <link href="{%static "assets/vendor/bootstrap/css/bootstrap.min.css" %}" rel="stylesheet">
    <link href="{%static "assets/vendor/bootstrap-icons/bootstrap-icons.css" %}" rel="stylesheet">
    <link href="{%static "assets/vendor/boxicons/css/boxicons.min.css" %}" rel="stylesheet">
    <link href="{%static "assets/vendor/quill/quill.snow.css" %}" rel="stylesheet">
    <link href="{%static "assets/vendor/quill/quill.bubble.css" %}" rel="stylesheet">
    <link href="{%static "assets/vendor/remixicon/remixicon.css" %}" rel="stylesheet">
    <link href="{%static "assets/vendor/simple-datatables/style.css" %}" rel="stylesheet">
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
   
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">

   <style>
    .card-body {
        max-width: 100%;
        overflow-x: auto;
      }
   
        /* Hide the length control */
        .dataTables_length {
            display: none;
        }

        /* Hide the search input */
        .dataTables_filter {
            display: none;
        }

        .dataTables_info {
          display: none;
      }

        .dataTables_paginate {
          display: none;
      }

    
      
   </style>
</head>
<body>
  
  <main id="main" class="main">
    <div class="pagetitle">
      <h1>Data Tables</h1>
      <nav>
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="index.html">Home</a></li>
          <li class="breadcrumb-item">Tables</li>
          <li class="breadcrumb-item active">Car Data</li>
        </ol>
      </nav>
    </div><!-- End Page Title -->

    <section class="section">
      <div class="row">
        <div class="col-lg-12">

          <div class="card">
            <div class="card-body">
              <h5 class="card-title">Car Data</h5>

              <!-- Table with stripped rows -->
              <table class="table">
                <thead>
                  <tr>
                    <th scope="col">Name</th>
                    <th scope="col">Model</th>
                    {% if user.is_staff %}
                    <th></th>
                    <th></th>
                    {% endif %}

                  </tr>
                </thead>
                <tbody>  
                  {% if cars %}
                  {% for car in list_car %}
                  <tr>
                      <td>{{ car.car_name }}</td>
                      <td>{{ car.car_model }}</td>
                      {% if user.is_staff %}
                       <td> 
                          <a class="btn btn-success btn-sm" href="{% url 'car_update' pk=car.pk %}">
                              Update
                          </a>
                      </td>
                      <td>
                          <a class="btn btn-danger btn-sm" href="{% url 'car_delete' pk=car.pk %}">
                             Delete
                          </a>
                      </td>
                      {% endif %}
                  </tr>
                  {% endfor %}
                 
                </tbody>
                {% endif %}

              </table>
              <!-- End Table with stripped rows -->
              {% if user.is_staff %}
              <a class="btn btn-dark"  href="{% url 'add_car'%}"><i class="bi bi-plus"></i></a>    
              {% endif %}
              </div>
            </div>
          </div>

        </div>
      </div>
    </section>

  </main><!-- End #main -->
    {% comment %} <div class="col-lg-10 grid-margin stretch-card ">
        <div class="card">
          <div class="card-body">
            <h4 class="card-title">Cars Data</h4>
            <p class="card-description">
            </p>
            <div class="table-responsive">
              <table class="table table-hover">
                <thead>
                  <tr>
                    <th>Name</th>
                    <th>Model</th>
               
                  </tr>
                </thead>
                <tbody>
                    {% for car in list_car %}
                    <tr>
                        <td>{{ car.car_name }}</td>
                        <td>{{ car.car_model }}</td>
                        {% if user.is_staff %}
                         <td> 
                            <a class="btn btn-inverse-success btn-sm" href="{% url 'car_update' pk=car.pk %}">
                                Update
                            </a>
                        </td>
                        <td>
                            <a class="btn btn-danger btn-sm" href="{% url 'car_delete' pk=car.pk %}">
                               Delete
                            </a>
                        </td>
                        {% endif %}
                    </tr>
                    {% endfor %}
                </tbody>
                
              </table>
              
            </div>
          </br>
          {% if user.is_staff %}
          <a class="btn btn-dark"  href="{% url 'add_car'%}">Add</a>    
          {% endif %}
          </div> {% endcomment %}

          <div class="pagination-wrap">
            <nav aria-label="Page navigation example">
              <ul class="pagination justify-content-center">	
                {% if list_car.has_previous %} 
                <li class="page-item"><a class="page-link" href="?page=1">&laquo First</a></li>
                <li class="page-item"><a class="page-link" href="?page={{ list_car.previous_page_number }}">Previous</a></li>
                {% endif%}
                <li class="page-item disabled" ><a class="page-link" href="#" >Page {{ list_car.number }} of {{ list_car.paginator.num_pages}}</a></li>
              
                {% if list_car.has_next%}
                <li class="page-item"><a class="page-link" href="?page={{ list_car.next_page_number }}">Next</a></li>
                <li class="page-item"><a class="page-link" href="?page={{list_car.paginator.num_pages}}">Last &raquo</a></li>
                {% endif%}
              </ul>
            </nav>
          </div>
        </div>  
    </div> 


      
	
        {% block script %}
        <!-- Link to Bootstrap JS and jQuery -->
        <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>

        <script src="{%static "assets/vendor/apexcharts/apexcharts.min.js" %}"></script>
        <script src="{%static "assets/vendor/bootstrap/js/bootstrap.bundle.min.js" %}"></script>
        <script src="{%static "assets/vendor/chart.js/chart.umd.js" %}"></script>
        <script src="{%static "assets/vendor/echarts/echarts.min.js" %}"></script>
        <script src="{%static "assets/vendor/quill/quill.min.js" %}"></script>
        <script src="{%static "assets/vendor/simple-datatables/simple-datatables.js" %}"></script>
        <script src="{%static "assets/vendor/tinymce/tinymce.min.js" %}"></script>
        <script src="{%static "assets/vendor/php-email-form/validate.js" %}"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/2.10.2/umd/popper.min.js"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
        
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
        <script src="https://cdn.datatables.net/1.11.5/js/jquery.dataTables.min.js"></script>
        
        <script>
          $(document).ready(function() {
            // Handle sorting when a dropdown item is clicked
            $('.dropdown-item').on('click', function(e) {
                e.preventDefault();
                const sortBy = $(this).data('sort'); 
                let columnIndex = 0; // Default column index for sorting
                let sortDirection = 'desc'; // Default sort direction
        
                // Set the column index based on the chosen sorting option
                if (sortBy === 'car_name') {
                    columnIndex = 0; // Customer Name column index
                } else if (sortBy === 'model') {
                    columnIndex = 1; // Date of Order column index
                    sortDirection = 'desc'; // Set sort direction to descending for date column
                }
                // Add more conditions for additional sorting options if needed
        
                // Apply sorting to the chosen column index using DataTables API
                $('table').DataTable().order([[columnIndex, sortDirection]]).draw();
            });
        
            // Initialize DataTables for your table
            $('table').DataTable();
        });
        </script>
     {% endblock script %} 
 
</body>
</html>

{% endblock%}







