{% extends "base.html" %}
{% block content %}


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
   
    {% load static %}
    <title>{% block title %}Cars{% endblock %}</title>


 
</head>

<body>
    
    {% if cars %}
   <div id="content">
        <div class="card shadow mb-4">
            <div class="card-header py-3">
                <h4 class="m-0 font-weight-bold text-primary">Cars Data</h4>
            </div>
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                        <thead>
                            <tr>
                                <th>Name</th>
                                <th>Model</th>
                                <th>Variant</th>
                                <th>Color</th>
                        
                            </tr>
                        </thead>
                    
                        <tbody>
                            {% for car in cars %}
                            <tr>
                                <td>{{ car.car_name }}</td>
                                <td>{{ car.car_model }}</td>
                                <td>{{ car.car_variant }}</td>
                                <td>{{ car.car_color }}</td>
                                <td>
                                    <a class="btn btn-success btn-sm" href="{% url 'car_update' pk=car.pk %}">
                                       Update
                                    </a>
                                  
                                </td>
                            </tr>
                            {% endfor %}
                          
                            
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        {% endif %}

        {% if user.is_staff %}

        <a class="btn btn-secondary"  href="{% url 'add_car'%}">Add</a>  
        
        {% endif %}
    </div> 
	

    <!-- Link to Bootstrap JS and jQuery -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

     <script src="{%static "vendor/jquery/jquery.min.js" %}"></script>
     <script src="{%static "vendor/bootstrap/js/bootstrap.bundle.min.js" %}"></script>
 
     <script src="{%static "vendor/jquery-easing/jquery.easing.min.js" %}"></script>
 
     <script src="{%static "js/sb-admin-2.min.js" %}"></script>
 
     <script src="{%static "vendor/chart.js/Chart.min.js" %}"></script>
 
     <script src="{%static "js/demo/chart-area-demo.js" %}"></script>
     <script src="{%static "js/demo/chart-pie-demo.js" %}"></script>
 
</body>
</html>

{% endblock%}







