{% extends "base.html" %}

{% block content %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
   
    {% load static %}
    <title>{% block title %}Exchange Vehicle{% endblock %}</title>

    <link rel="shortcut icon" href="{%static "images/SeresIcon.png" %}">
    <!-- Favicons -->
    <link href="{%static "assets/img/apple-touch-icon.png" %}" rel="apple-touch-icon">

    <!-- Google Fonts -->
    <link href="https://fonts.gstatic.com" rel="preconnect">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Nunito:300,300i,400,400i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

    <!-- Vendor CSS Files -->
    <link href="{%static "assets/vendor/bootstrap/css/bootstrap.min.css" %}" rel="stylesheet">
    <link href="{%static "assets/vendor/bootstrap-icons/bootstrap-icons.css" %}" rel="stylesheet">
    <link href="{%static "assets/vendor/boxicons/css/boxicons.min.css" %}" rel="stylesheet">
    <link href="{%static "assets/vendor/quill/quill.snow.css" %}" rel="stylesheet">
    <link href="{%static "assets/vendor/quill/quill.bubble.css" %}" rel="stylesheet">
    <link href="{%static "assets/vendor/remixicon/remixicon.css" %}" rel="stylesheet">
    <link href="{%static "assets/vendor/simple-datatables/style.css" %}" rel="stylesheet">
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>

</head>
<body>

<main id="main" class="main">

    <div class="pagetitle">
      {% if searched %}
        <h1>You Searched for {{ searched }}</h1>
    </div><!-- End Page Title -->

  {% if exchange_vehicles %}

    <section class="section">
      <div class="row">
        <div class="col-lg-12">

          <div class="card">
            <div class="card-body">
              <h5 class="card-title">Exchange Vehicle Data</h5>

              <!-- Table with stripped rows -->
              <table class="table">
                <thead>
                  <tr>
                    <th scope="col">Customer Name</th>
                    <th scope="col">Vehicle Name</th>
                    <th scope="col">KiloMeters Run</th>                        
                    <th scope="col">Vehicle Made Year </th>                        
                    <th scope="col">License Plate</th>                        
                    <th scope="col">Vehicle Color</th>                        
                    <th scope="col">Customer Estimated Color</th>                        
                    <th scope="col">Actual Value</th>                        
                    <th scope="col">Exchange Status</th>      
                    <th></th>
                    <th></th>
                  </tr>
                </thead>
                <tbody>
                    {% for exchange_vehicle in exchange_vehicles %}
                        <tr>
                            <td>{{ exchange_vehicle.customer }}</td>
                            <td>{{ exchange_vehicle.vehicle_name }}</td>
                            <td>{{ exchange_vehicle.kiloMeters_run }}</td>
                            <td>{{ exchange_vehicle.vehicle_made_year }}</td>
                            <td>{{ exchange_vehicle.license_plate }}</td>
                            <td>{{ exchange_vehicle.vehicle_color }}</td>
                            <td>{{ exchange_vehicle.customer_estimated_value }}</td>
                            <td>{{ exchange_vehicle.actual_value }}</td>
                            <td>{{ exchange_vehicle.exchange_status }}</td>
                            <td> <a class="btn btn-success btn-sm" href="{% url 'exchange_update' pk=exchange_vehicle.pk %}">
                                Update</a>
                            </td>
                            <td>
                                <a class="btn btn-danger btn-sm" href="{% url 'exchange_delete' pk=exchange_vehicle.pk %}">
                                   Delete
                                </a>
                              
                            </td>
                        </tr>
                        {% endfor %}
                      
                 
                </tbody>
              </table>
              <!-- End Table with stripped rows -->
              {% if user.is_staff %}
              <a class="btn btn-dark"  href="{% url 'add_exchange'%}">Add</a>    
              {% endif %}
              </div>
            </div>
          </div>

        </div>
    </section>
        <div class="border-top pt-3">
          <a href="{% url 'exchange_vehicle' %}" >Cancel</a>
        </div>
  </main><!-- End #main -->   
  {% endif %}

  
  {% else %}
  <main id="main" class="main">
    <section class="section">
        <div class="row">
          <div class="col-lg-12">
  
            
                <h5>You Forgot to entry a Keyword!!</h5>

                </div>
            </div>
    </section>
    <div class="border-top pt-3">
        <a href="{% url 'exchange_vehicle' %}" >Cancel</a>
    </div>
</main><!-- End #main -->
   {% endif %}



{% block script %}

    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>

    <script src="{%static "assets/vendor/apexcharts/apexcharts.min.js" %}"></script>
    <script src="{%static "assets/vendor/bootstrap/js/bootstrap.bundle.min.js" %}"></script>
    <script src="{%static "assets/vendor/chart.js/chart.umd.js" %}"></script>
    <script src="{%static "assets/vendor/echarts/echarts.min.js" %}"></script>
    <script src="{%static "assets/vendor/quill/quill.min.js" %}"></script>
    <script src="{%static "assets/vendor/simple-datatables/simple-datatables.js" %}"></script>
    <script src="{%static "assets/vendor/tinymce/tinymce.min.js" %}"></script>
    <script src="{%static "assets/vendor/php-email-form/validate.js" %}"></script>
  
    <!-- Template Main JS File -->
    <script src="{%static "assets/js/main.js" %}"></script>

    
{% endblock script %} 
 
</body>
</html>
{% endblock%}