<div class="contact-from-section mt-150 mb-150">
    <div class="container">
        <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col-lg-8 mb-5 mb-lg-0 text-center">
                {% for message in messages %}
                  {% if message.tags == 'success' %}
                    <li class="{{ message.tags }}">{{ message }}</li>
                  {% endif %}
                {% endfor %}
                <div class="form-title">
                    <h2>You have been logged out!!</h2>
                </div>
                    <div class="container py-5">
                         <a href="/login">Log back in here.</a> 
                    </div>
            </div>
        </div>
    </div>
</div>