{% extends "base.html" %}

{% block content %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
   
    {% load static %}
    <title>{% block title %}My Website{% endblock %}</title>


    <!-- Link to Bootstrap CSS -->

</head>

<body>
    
    {% if orders %}
   <div id="content">
        <div class="card shadow mb-4">
            <div class="card-header py-3">
                <h4 class="m-0 font-weight-bold text-primary">Orders Data</h4>
            </div>
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                        <thead>
                            <tr>
                                <th>Customer Name</th>
                                <th>Order payment</th>
                                <th>Car Name</th>
                                <th>Car Variant</th>
                                <th>Booking</th>                        
                                <th>Date of Order</th>                        
                                <th>Selling Price</th>                        
                                <th>Total Amount Paid</th>                        
                                <th>Remaining Payment</th>                        
                                <th>Remarks</th>                        
                                <th>Cancelled</th>                        
                                <th>Reason of Cancel</th>                        
                            </tr>
                        </thead>
                    
                        <tbody>
                            {% for order in orders %}
                            <tr>                                
                                <td>{{ order.customer }}</td>
                                <td>{{ order.payment }}</td>
                                <td>{{ order.car_name }}</td>
                                <td>{{ order.car_variant }}</td>
                                <td>{{ order.booking }}</td>
                                <td>{{ order.date_of_order }}</td>
                                <td>{{ order.selling_price }}</td>
                                <td>{{ order.total_amount_paid }}</td>
                                <td>{{ order.remaining_payment }}</td>
                                <td>{{ order.remarks }}</td>
                                <td>{{ order.cancelled }}</td>
                                <td>{{ order.reason_of_cancel }}</td>
                                <td> <a class="btn btn-success btn-sm" href="{% url 'order_update' pk=order.pk %}">
                                    Update</a>
                                </td>
                            </tr>
                            {% endfor %}
                          
                            
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        {% endif %}

        {% if user.is_staff %}
        <a class="btn btn-secondary"  href="{% url 'add_orders'%}">Add</a>   
        {% endif %}
    </div> 
	

    <!-- Link to Bootstrap JS and jQuery -->
 
</body>
</html>

{% endblock%}