{% extends "base.html" %}

{% block content %}


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}My Website{% endblock %}</title>


    {% load static %}
  
   
</head>

<body>

    {% if profile %}

        <h1>{{ profile.user.username }}'s Profile</h1>
    
    {% endif %}
    <!-- Link to Bootstrap JS and jQuery -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

    <script src="{%static "static/vendor/jquery/jquery.min.js" %}"></script>
    <script src="{%static "static/vendor/bootstrap/js/bootstrap.bundle.min.js" %}"></script>

    <script src="{%static "static/vendor/jquery-easing/jquery.easing.min.js" %}"></script>

    <script src="{%static "static/js/sb-admin-2.min.js" %}"></script>

    <script src="{%static "static/vendor/chart.js/Chart.min.js" %}"></script>

    <script src="{%static "static/js/demo/chart-area-demo.js" %}"></script>
    <script src="{%static "static/js/demo/chart-pie-demo.js" %}"></script>
</body>
</html>

{% endblock%}