{% extends "base.html" %}

{% block content %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>SERES</title>
    {% load static %}

    <!-- Link to Bootstrap CSS -->
   
    <link rel="shortcut icon" href="{%static "images/SeresIcon.png" %}">
    <!-- Favicons -->
    <link href="{%static "assets/img/apple-touch-icon.png" %}" rel="apple-touch-icon">
  
    <!-- Google Fonts -->
    <link href="https://fonts.gstatic.com" rel="preconnect">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Nunito:300,300i,400,400i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">
  
    <!-- Vendor CSS Files -->
    <link href="{%static "assets/vendor/bootstrap/css/bootstrap.min.css" %}" rel="stylesheet">
    <link href="{%static "assets/vendor/bootstrap-icons/bootstrap-icons.css" %}" rel="stylesheet">
    <link href="{%static "assets/vendor/boxicons/css/boxicons.min.css" %}" rel="stylesheet">
    <link href="{%static "assets/vendor/quill/quill.snow.css" %}" rel="stylesheet">
    <link href="{%static "assets/vendor/quill/quill.bubble.css" %}" rel="stylesheet">
    <link href="{%static "assets/vendor/remixicon/remixicon.css" %}" rel="stylesheet">
    <link href="{%static "assets/vendor/simple-datatables/style.css" %}" rel="stylesheet">
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
    <style>
      .card-body {
          max-width: 100%;
          overflow-x: auto;
        }
    </style>

</head>
<body>

    <main id="main" class="main">
        <div class="pagetitle">
          <h1>Data Tables</h1>
          <nav>
            <ol class="breadcrumb">
              <li class="breadcrumb-item"><a href="index.html">Home</a></li>
              <li class="breadcrumb-item">Tables</li>
              <li class="breadcrumb-item active">Walkins Data</li>
            </ol>
          </nav>
        </div><!-- End Page Title -->
    
        <section class="section">
          <div class="row">
            <div class="col-lg-14">
    
              <div class="card">
                <div class="card-body">
                  <h5 class="card-title">Walkins Data</h5>
                  <form class="d-flex" method="post" action="{% url 'walkin_search'%}"> 
                    {% csrf_token %}
                    <input class="form-control me-2" type="search" placeholder="Search" name="searched" style="width: 20%;">
                    <button class="btn btn-secondary" type="sunbmit"> <i class="bi bi-search"></i></button>
                  </form>
                </br>
                  <!-- Table with stripped rows -->
                  <table class="table">
                    <thead>
                      <tr> 
                        <th scope="col">First Name</th>
                        <th scope="col">Last Name</th>
                        <th scope="col">Contact Number</th>                        
                        <th scope="col">Purpose Of Visit</th>                        
                        <th scope="col">Outcome Of Visit</th>                        
                        <th scope="col">Interest Level </th>                        
                        <th scope="col">Remarks</th>                        
                        <th scope="col">Test Drive</th>                        
                        <th scope="col">Date of Walkin</th>    
                        {% if user.is_staff %}                  
                        <th></th>
                        <th></th>
                        {% endif %}

                      </tr>
                    </thead>
                    <tbody>
                      {% if walkins %}

                        {% for walkin in list_walkin %}
                            <tr>
                                <td>{{ walkin.walkin_firstname }}</td>
                                <td>{{ walkin.walkin_lastname }}</td>
                                <td>{{ walkin.walkin_contact }}</td>
                                <td>{{ walkin.purpose_of_visit }}</td>
                                <td>{{ walkin.outcome_of_visit }}</td>                               
                                <td>{{ walkin.interest_level }}</td>
                                <td>{{ walkin.remarks }}</td>
                                <td>{{ walkin.test_drive }}</td>
                                <td>{{ walkin.date_of_walkin }}</td>
                                {% if user.is_staff %}

                                <td> <a class="btn btn-success btn-sm" href="{% url 'walkin_update' pk=walkin.pk %}">
                                    Update</a>
                                </td>
                                <td>
                                    <a class="btn btn-danger btn-sm" href="{% url 'walkin_delete' pk=walkin.pk %}">
                                       Delete
                                    </a>
                                  
                                </td>
                                {% endif %}
                            </tr>
                            {% endfor %}
                          
                    </tbody>
                    {% endif %}

                  </table>
                  <!-- End Table with stripped rows -->
                  {% if user.is_staff %}
                  <a class="btn btn-dark"  href="{% url 'add_walkin'%}"><i class="bi bi-plus"></i></a>    
                  {% endif %}
                  </div>
                </div>
              </div>
    
            </div>
          </div>
        </section>

        <div class="pagination-wrap">
          <nav aria-label="Page navigation example">
            <ul class="pagination justify-content-center">	
              {% if list_walkin.has_previous %} 
              <li class="page-item"><a class="page-link" href="?page=1">&laquo First</a></li>
              <li class="page-item"><a class="page-link" href="?page={{ list_walkin.previous_page_number }}">Previous</a></li>
              {% endif%}
              <li class="page-item disabled" ><a class="page-link" href="#" >Page {{ list_walkin.number }} of {{ list_walkin.paginator.num_pages}}</a></li>
            
              {% if list_walkin.has_next%}
              <li class="page-item"><a class="page-link" href="?page={{ list_walkin.next_page_number }}">Next</a></li>
              <li class="page-item"><a class="page-link" href="?page={{list_walkin.paginator.num_pages}}">Last &raquo</a></li>
              {% endif%}
            </ul>
          </nav>
        </div>
      </main><!-- End #main -->

    {% comment %} <div class="col-lg-10 grid-margin stretch-card mx-auto">
        <div class="card"> 
        </br>
        </br>
            <form class="d-flex" method="post" action="{% url 'walkin_search'%}"> 
                {% csrf_token %}
                <input class="form-control me-2" type="search" placeholder="Search" name="searched">
                <button class="btn btn-secondary" type="sunbmit"> <i class="mdi mdi-magnify"></i></button>
            </form>
          <div class="card-body">
            <h4 class="card-title">Walkin Customer Data</h4>
            <p class="card-description">
            </p>
            <div class="table-responsive">
              <table class="table table-hover">
                        <thead>
                            <tr>
                                <th>First Name</th>
                                <th>Last Name</th>
                                <th>Contact Number</th>                        
                                <th>Purpose Of Visit</th>                        
                                <th>Outcome Of Visit</th>                        
                                <th>Interest Level </th>                        
                                <th>Remarks</th>                        
                                <th>Test Drive</th>                        
                                <th>Date of Walkin</th>                        
                            </tr>
                        </thead>
                    
                        <tbody>
                            {% for walkin in list_walkin %}
                            <tr>
                                <td>{{ walkin.walkin_firstname }}</td>
                                <td>{{ walkin.walkin_lastname }}</td>
                                <td>{{ walkin.walkin_contact }}</td>
                                <td>{{ walkin.purpose_of_visit }}</td>
                                <td>{{ walkin.outcome_of_visit }}</td>                               
                                <td>{{ walkin.interest_level }}</td>
                                <td>{{ walkin.remarks }}</td>
                                <td>{{ walkin.test_drive }}</td>
                                <td>{{ walkin.date_of_walkin }}</td>
                                <td> <a class="btn btn-inverse-success btn-sm" href="{% url 'walkin_update' pk=walkin.pk %}">
                                    Update</a>
                                </td>
                                <td>
                                    <a class="btn btn-danger btn-sm" href="{% url 'walkin_delete' pk=walkin.pk %}">
                                       Delete
                                    </a>
                                  
                                </td>
                            </tr>
                            {% endfor %}
                          
                            
                        </tbody>
                    </table>
                </div>
                {% if user.is_staff %}
                <a class="btn btn-dark"  href="{% url 'add_walkin'%}">Add</a>   
                {% endif %}
                
            </div>
            <div class="pagination-wrap">
                <nav aria-label="Page navigation example">
                  <ul class="pagination justify-content-center">	
                    {% if list_walkin.has_previous %} 
                    <li class="page-item"><a class="page-link" href="?page=1">&laquo First</a></li>
                    <li class="page-item"><a class="page-link" href="?page={{ list_walkin.previous_page_number }}">Previous</a></li>
                    {% endif%}
                    <li class="page-item disabled" ><a class="page-link" href="#" >Page {{ list_walkin.number }} of {{ list_walkin.paginator.num_pages}}</a></li>
                  
                    {% if list_walkin.has_next%}
                    <li class="page-item"><a class="page-link" href="?page={{ list_walkin.next_page_number }}">Next</a></li>
                    <li class="page-item"><a class="page-link" href="?page={{list_walkin.paginator.num_pages}}">Last &raquo</a></li>
                    {% endif%}
                  </ul>
                </nav>
              </div>
        </div>
    </div>  {% endcomment %}
   


	

        {% block script %}
        <!-- Link to Bootstrap JS and jQuery -->
    
        <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>

        <script src="{%static "assets/vendor/apexcharts/apexcharts.min.js" %}"></script>
        <script src="{%static "assets/vendor/bootstrap/js/bootstrap.bundle.min.js" %}"></script>
        <script src="{%static "assets/vendor/chart.js/chart.umd.js" %}"></script>
        <script src="{%static "assets/vendor/echarts/echarts.min.js" %}"></script>
        <script src="{%static "assets/vendor/quill/quill.min.js" %}"></script>
        <script src="{%static "assets/vendor/simple-datatables/simple-datatables.js" %}"></script>
        <script src="{%static "assets/vendor/tinymce/tinymce.min.js" %}"></script>
        <script src="{%static "assets/vendor/php-email-form/validate.js" %}"></script>

  <!-- Template Main JS File -->
  <script src="{%static "assets/js/main.js" %}"></script>
      
     {% endblock script %} 
 
</body>
</html>

{% endblock%}