{% extends "base.html" %}

{% block content %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
   
    {% load static %}
    <title>{% block title %}My Website{% endblock %}</title>


    <!-- Link to Bootstrap CSS -->

</head>

<body>
    
    {% if walkins %}
   <div id="content">
        <div class="card shadow mb-4">
            <div class="card-header py-3">
                <h4 class="m-0 font-weight-bold text-primary">Walkin Customer Data</h4>
            </div>
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                        <thead>
                            <tr>
                                <th>First Name</th>
                                <th>Last Name</th>
                                <th>Contact Number</th>                        
                                <th>Purpose Of Visit</th>                        
                                <th>Outcome Of Visit</th>                        
                                <th>Interest Level </th>                        
                                <th>Remarks</th>                        
                                <th>Test Drive</th>                        
                                <th>Date of Walkin</th>                        
                            </tr>
                        </thead>
                    
                        <tbody>
                            {% for walkin in walkins %}
                            <tr>
                                <td>{{ walkin.walkin_firstname }}</td>
                                <td>{{ walkin.walkin_lastname }}</td>
                                <td>{{ walkin.walkin_contact }}</td>
                                <td>{{ walkin.purpose_of_visit }}</td>
                                <td>{{ walkin.outcome_of_visit }}</td>                               
                                <td>{{ walkin.interest_level }}</td>
                                <td>{{ walkin.remarks }}</td>
                                <td>{{ walkin.test_drive }}</td>
                                <td>{{ walkin.date_of_walkin }}</td>
                                <td> <a class="btn btn-success btn-sm" href="{% url 'walkin_update' pk=walkin.pk %}">
                                    Update</a>
                                </td>
                            </tr>
                            {% endfor %}
                          
                            
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        {% endif %}

        {% if user.is_staff %}
        <a class="btn btn-secondary"  href="{% url 'add_walkin'%}">Add</a>   
        {% endif %}
        
    </div> 
	

    <!-- Link to Bootstrap JS and jQuery -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

     <script src="{%static "vendor/jquery/jquery.min.js" %}"></script>
     <script src="{%static "vendor/bootstrap/js/bootstrap.bundle.min.js" %}"></script>
 
     <script src="{%static "vendor/jquery-easing/jquery.easing.min.js" %}"></script>
 
     <script src="{%static "js/sb-admin-2.min.js" %}"></script>
 
     <script src="{%static "vendor/chart.js/Chart.min.js" %}"></script>
 
     <script src="{%static "js/demo/chart-area-demo.js" %}"></script>
     <script src="{%static "js/demo/chart-pie-demo.js" %}"></script>
 
</body>
</html>

{% endblock%}